// Colors
$teal: #00AC93;
$lightTeal: #03E0C9;
$darkTeal: #005D4D;

$blue: #7FC5F2;
$lightBlue: #53DAF6;
$darkBlue: #1F749D;

$purple: #B787E4;
$lightPurple: #D9A7FF;
$darkPurple: #764BA2;

$crimson: #E3445F;
$lightCrimson: #FFA6B6;
$darkCrimson: #A50031;

$grey: #878787;
$lightGrey: #B9B9B9;
$darkGrey: #474747;

$white: #FFF;


// Breakpoints
$breakTablet: 721px;
$breakDesktop: 1024px;
$breakLarge: 1280px;